*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.logout{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.bg-light-black{
    background-color: rgb(26, 26, 29);
}
.bg-black{
    background-color: rgb(19, 19, 19);
}
.close,
.close:hover
{
    color:white;
}
.iconbtn{
    border:none;
    padding:0;
    margin: 0;
   
}